.section-upper {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: row;

    &--col {
      flex: 1;
      flex-direction: column;
      justify-content: center;

      display: flex;
      flex-direction: column;

      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }

      .col-title {
        margin-bottom: 10px;
        text-align: center;
        text-transform: capitalize;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);
      }
    }

    .option-block {
      margin-bottom: 10px;
      padding: 1%;
      background: white;

      &__label {

      }

      &__state {

      }
    }

    &--button {
      width: 100%;
      margin-top: $padding;

      .generate-button {
        background: plum;
        padding: $padding;
        cursor: pointer;
        border: $light-border;

        &__message {
          float: right;
        }
      }
    }
  }

  &__block {

    background: #aaa;
  }
}
