.section-mid {
  width: 100%;

  &__form {
    background: plum;
    padding: $padding;

    &--inputs {
      width: 20%;

      .label {
        width: 100%;
        display: block;
        padding: 1%;
        cursor: pointer;
      }

      .input {
        padding: $padding * 2;
        border: $light-border;
        border-bottom: none;

        &:last-child {
          border-bottom: $light-border;
        }

        input {
          float: right;
        }
      }

    }

    &--button {
      width: 20%;
      margin-top: $padding;
      .button-generate {
        background: #fff;
        padding: $padding * 3;
        cursor: pointer;
        border: $light-border;

      }
    }
  }

  &__block {

    background: darken(plum, 10%);
  }
}
