.card {
  width: 20%;
  background: #fff;

  &__heading {
    width: 100%;
    background: #bada55;
    text-align: center;
    padding: $padding * 5 $padding * 2;
  }

  &__list {

    &--ingredient {

      padding: $padding * 3;
      border: $light-border;
      border-bottom: none;

      &:last-child {
        border-bottom: $light-border;
      }
    }
  }

  .button-save-card {
    width: 100%;
    background: lighten(plum, 5%);
    cursor: pointer;
    text-align: justify;

    .btn {
      content: '';
      width: 50%;
      display: inline-block;
      text-align: center;
      padding: $padding * 4;

      &:hover {
        background: plum;
      }
    }
  }
}
