.card {
  width: 100%;
  background: #fff;

  &__heading {
    width: 100%;
    background: #bada55;
    text-align: center;
    padding: $padding * 10 $padding * 2;

    span {
      cursor: pointer;
    }

    i {
      float: right;
      margin-right: 10px;
    }
  }

  &__list {
    height: 160px;

    &--ingredient {
      padding: $padding * 4;
      border: $light-border;
      border-bottom: none;

      cursor: pointer;

      &:last-child {
        border-bottom: $light-border;
      }

      .fa-check {
        float: right;
        color: plum;
      }
      .fa-check-opac {
        color: lighten(plum, 15%);
      }
    }
  }

  .button-save-card {
    width: 100%;
    background: lighten(plum, 5%);
    cursor: pointer;
    text-align: justify;
    user-select: none;

    .btn {
      content: '';
      width: 50%;
      display: inline-block;
      text-align: center;
      padding: $padding * 4;

      &:hover {
        background: darken(plum, 10%);
      }
    }
  }

  .card__refresh {
    padding: $padding * 2;
    background-color: darken(plum, 10%);

    cursor: pointer;

    &--btn {
      float: right;
      margin-right: 15px;
    }
  }
}
