* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-size: 20px;
  font-family: $ubuntu;
}

.main-container {

  .section {

    &-upper {

      &__header {
        background: plum;
        padding: $padding;

        &--logo {

        }
        &--title {
          font-size: 1.4em;
        }
      }

      &__intro {

        &--heading {
          padding: $padding;

          h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0px;
            }

            span {
              margin-right: 3.5%;
            }
          }
        }
      }

      &__form {
        width: 100%;
        padding: $padding;
      }
    }


    &-mid {

      &__block {
        width: 100%;
        padding: 0px $padding $padding;

        &--element {
          width: 14.2857%;
          display: inline-block;

          padding: 5px;
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            padding-right: 0px;
          }

          vertical-align: top;

        }
      }

    }
  }
}
